[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
Telethon = "*"
fastapi-mail = "*"
Jinja2 = "*"
python-multipart = "*"
pillow = "*"
pandas = "*"

[requires]
python_version = "3.6"
