[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
Telethon = "*"
fastapi-mail = "*"
Jinja2 = "*"

[requires]
python_version = "3.6"
